<div class="about">
  <blockquote>
    <p class="quote">A photo. A story. A location.</p>
    <p class="quote">One beautiful spot on Earth.</p>
    <p class="quote">Another reason to wanderawe.</p>
  </blockquote>

  <hr>

  <p class="summary">Wanderawe is an interactive social platform for wanderers to discover and share their travel experience through photos and stories, and to create a catalog of the beautiful and amazing places of our world.</p>
  <p class="summary">As passionate wanderers and travelers, we know it brings us something unique and joyful, and we want to share it with the rest of the world. We hope you will join us on this journey:</p>
  <p class="summary">To inspire – the sense of awe, exploration and wanderlust.</p>
  <p class="summary">To give perspective – that the world is much bigger and more diverse than ourselves, with different histories, cultures, and ways of looking at the world.</p>
  <p class="summary">To connect people – through our universal appreciation of beauty, that we all live in this same, diverse and amazing world.</p>
  <p class="summary">Start by selecting a country in the world map or a category to discover beautiful places and stories.</p>
  <p class="summary">Join our community! Share your experience by signing up above and uploading your photos and stories.</p>
  <p class="summary">Let us know how we can improve the site, or to collaborate with us, drop us an email! We are at wa@wanderawe.com.</p>

  <footer>
    <ul class="social-list">
      <li class="social-list-item"><a href="http://facebook.com/wanderawe"><i class="icon-facebook"></i></a></li>
      <li class="social-list-item"><a href="http://twitter.com/wanderawe"><i class="icon-twitter"></i></a></li>
      <li class="social-list-item"><a href="http://instagram.com/wanderawe"><i class="icon-instagram"></i></a></li>
    </ul>
    <div class="creative-commons-license">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Wanderawe</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
  </footer>
</div>